# Ignore virtual environments
.venv/

# Ignore node_modules
node_modules/

# Ignore build files
dist/

# Ignore log files
logs/

# Ignore python cache files
__pycache__/

# Ignore editor-specific files
.vscode/

# Ignore environment files
.env