/* /src/assets/css/settings.css */

@import "/static/css/components/navbar.css";
@import "/static/css/components/sidebar.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Settings title outside main container */
body > h2 {
    font-size: 1.75rem;
    font-weight: var(--font-bold);
    margin-top: calc(var(--navbar-height) + 40px);
    margin-left: calc(var(--sidebar-width-expanded) + 40px);
    margin-bottom: 20px;
}

body.sidebar-collapsed > h2 {
    margin-left: calc(var(--sidebar-width-collapsed) + 40px);
}

main {
    background-color: var(--color-navbar);
    border: 1px solid var(--color-hover);
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: calc(var(--sidebar-width-expanded) + 40px);
    padding: 30px;
    max-width: 1920px;
}

main.sidebar-collapsed {
    margin-left: calc(var(--sidebar-width-collapsed) + 40px);
    margin-right: 40px;
}

.category {
    margin-bottom: 40px;
}

.category>h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-hover);
    font-weight: var(--font-bold);
}

.setting {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.setting label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.setting input,
.setting select {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-hover);
    height: 42px;
    width: 100%;
    padding: 10px;
    
    font-size: 16px;
    margin-bottom: 5px;
}

.setting input:focus,
.setting select:focus {
    outline: none;
    border-color: var(--color-accent);
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group input,
.input-group select {
    flex: 1;
    margin: 0;
}

.setting p.description {
    font-size: 14px;
    color: var(--color-text);
    opacity: .8;
    margin-top: 8px;
    margin-bottom: 10px;
}

/* Individual Update Button */
.setting button {
    background-color: var(--color-accent);
    color: var(--color-pure);
    font-weight: var(--font-semibold);
    border: none;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
}

.setting button:hover {
    opacity: .8;
}

main>button {
    background-color: #28a745;
    color: var(--color-pure);
    font-weight: var(--font-semibold);
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: fit-content;
}

main>button:hover {
    opacity: .8;
}

.popup {
    background-color: #28a745;
    border: 1px solid #208437;
    color: var(--color-pure);
    font-weight: var(--font-semibold);
    position: fixed;
    top: calc(var(--navbar-height) + 20px);
    right: 20px;
    padding: 15px 20px;
    
    opacity: 0;
    z-index: 1000;
}

.popup.show {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    body > h2 {
        margin-top: calc(var(--navbar-height) + 20px);
        margin-left: calc(var(--sidebar-width-collapsed) + 15px);
    }
    
    main {
        margin-right: 15px;
        margin-left: calc(var(--sidebar-width-collapsed) + 15px);
        margin-bottom: calc(var(--sidebar-width-collapsed) + 20px);
    }

    main.sidebar-collapsed {
        margin-left: var(--sidebar-width-collapsed);
    }

    
main>button {
    margin-top: 0;
}
}