<!-- /src/app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - NetWatch</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/src/assets/css/dashboard.css"> <!-- TO DELETE IN PROD -->
    <!-- Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <!-- JavaScript -->
    <script src="/static/js/nav.js"></script>
    <script src="/src/assets/js/nav.js"></script> <!-- TO DELETE IN PROD -->
</head>

<body>
    <!-- Navbar -->
    <div id="navbar-component"></div>
    <!-- Sidebar -->
    <div id="sidebar-component"></div>
    <!-- JavaScript -->
    <script src="/static/js/theme.js"></script>
    <script src="/src/assets/js/theme.js"></script> <!-- TO DELETE IN PROD -->
</body>

</html>