<!-- /src/app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - NetWatch</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <!-- JavaScript -->
    <script src="/static/js/sidebar.js" defer></script>
    <script src="/static/js/navbar.js" defer></script>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <!-- Navbar -->
    <div id="navbar-component"></div>
    <!-- Sidebar -->
    <div id="sidebar-component"></div>
    <main>
        <header>
            <div class="header-info">
                <h1>Dashboard</h1>
                <p id="date-info"></p>
            </div>
        </header>
        <section id="device-status">
            <div class="dashboard-container">
                <div class="status-container">
                    <div class="status-card" id="online">
                        <i class="bx bx-check-circle"></i>
                        <div class="status-title">Online</div>
                        <div class="status-count" id="count-online">0</div>
                    </div>
                    <div class="status-card" id="offline">
                        <i class="bx bx-x-circle"></i>
                        <div class="status-title">Offline</div>
                        <div class="status-count" id="count-offline">0</div>
                    </div>
                    <div class="status-card" id="unknown">
                        <i class="bx bx-help-circle"></i>
                        <div class="status-title">Unknown</div>
                        <div class="status-count" id="count-unknown">0</div>
                    </div>
                </div>

                <div class="charts-container">
                    <div class="chart" id="device-status-chart">
                        <h3>Device Status</h3>
                        <canvas id="statusChart"></canvas>
                    </div>                    
                </div>
            </div>
        </section>
    </main>
    <script src="/static/js/dashboard.js"></script>
</body>

</html>