<!-- /src/app/templates/logs.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs - NetWatch</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/logs.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <!-- JavaScript -->
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/logs.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div id="navbar-component"></div>
    <!-- Sidebar -->
    <div id="sidebar-component"></div>
    <main>
        <pre id="log"></pre>
    </main>
</body>

</html>