/* src/assets/css/dashboard.css */

@import url("satoshi.css");

:root {
    /* Light mode colors */
    --color-bg: #fff;
    --color-navbar: #f5f5f5;
    --color-hover: #eaeaec;
    --color-accent: #4894e7;
    --color-text: #000;
    /* Font weights */
    --font-regular: 500;
    --font-semibold: 700;
    --font-bold: 900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #232323;
        --color-navbar: #171717;
        --color-hover: #2f2f2f;
        --color-accent: #4894e7;
        --color-text: #fff;
    }
} 

* {
    font-family: "Satoshi-Variable", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    transition: all 0.5s ease;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--color-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    border-bottom: 1px solid var(--color-hover);
}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--color-text);
    font-weight: var(--font-semibold);
}

.navbar img {
    width: 30px;
    height: 30px;
}

.search_bar {
    height: 40px;
    max-width: 400px;
    width: 100%;
}

.search_bar input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-hover);
    padding: 0 20px;
}

.search_bar input:focus {
    border: 1px solid var(--color-accent);
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--color-text);
}

.profile {
    border-radius: 50%;
    border: 1px solid var(--color-hover);
}

/* Sidebar */
.sidebar {
    background-color: var(--color-navbar);
    border-right: 1px solid var(--color-hover);
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 80px 0;
    z-index: 100;
    overflow-y: scroll;
    transition: all 0.1s ease; 
}

.sidebar.close {
    padding: 80px 0;
    width: 80px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
}

.menu_items {
    padding: 0;
    list-style: none;
}

.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    color: var(--color-text);
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    color: var(--color-text);
    white-space: nowrap;
}

.sidebar.close .navlink {
    display: none;
}

.sidebar.close .nav_link {
    justify-content: center;
    padding: 8px 16px;  
}

.nav_link:hover {
    background: var(--color-hover);
}

.bottom_content {
    position: fixed;
    bottom: 60px;
    width: 250px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: var(--color-text);
    border-top: 1px solid var(--color-hover);
}

.bottom:hover {
    background: var(--color-hover);
}

.bottom i {
    font-size: 20px;
}

.sidebar.close .bottom_content {
    width: 80px;
}

.sidebar.close .bottom span {
    display: none;
}

#sidebarOpen {
    display: none;
}

/* Hide "Close" button when sidebar is collapsed */
.sidebar.close .collapse_sidebar {
    display: none;
}

/* Hide "Open" button when sidebar is expanded */
.sidebar:not(.close) .expand_sidebar {
    display: none;
}

@media screen and (max-width: 768px) {
    .search_bar {
        display: none;
    }

    .sidebar {
        width: 200px;
        padding: 60px 0;
    }
    
    .sidebar.close {
        width: 60px;
        padding: 60px 0;
    }

    .sidebar.close .bottom_content {
        width: 60px;
    }

    .bottom_content {
        width: 200px;
    }
}