/* /src/assets/css/dashboard.css */

@import "navbar.css";
@import "sidebar.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
}

main {
    margin-top: 60px; /* Navbar height */
    margin-left: 60px; /* Sidebar width */
}