/* /src/assets/css/logs.css */

@import "navbar.css";
@import "sidebar.css";

:root {
    --color-console-default: #fff;
    --color-console-system: #729fcf;
    --color-console-online: #8ae234;
    --color-console-retrying: #fce94f;
    --color-console-offline: #ef2929;
    /* --color-console-error: #ad7fa8; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
}

/* Default: When sidebar is expanded */
main {
    margin-left: calc(var(--sidebar-width-expanded));
    /* margin-right: 20px; */
    margin-top: calc(var(--navbar-height));
    /* margin-bottom: 20px; */
}

/* When sidebar is collapsed */
main.sidebar-collapsed {
    margin-left: calc(var(--sidebar-width-collapsed));
}

#log {
    background-color: #000;
    /* border: 1px solid var(--color-hover); */
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem;
    /* border-radius: 5px; */
    overflow: scroll;
    height: calc(100vh - var(--navbar-height));
    text-wrap: calc(100vh - var(--sidebar-width-expanded));
}

.log-timestamp {
    font-family: monospace;
    color: var(--color-console-default);
}

.log-default {
    font-family: monospace;
    color: var(--color-console-default);
}

.log-system {
    font-family: monospace;
    color: var(--color-console-system);
}

.log-online {
    font-family: monospace;
    color: var(--color-console-online);
}

.log-retrying {
    font-family: monospace;
    color: var(--color-console-retrying);
}

.log-offline {
    font-family: monospace;
    color: var(--color-console-offline);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

@media screen and (max-width: 768px) {
    #log {
        font-size: .7rem;
    }
}

@media screen and (max-width: 480px) {
    #log {
        font-size: 12px;
    }
}