/* /src/assets/css/navbar.css */

@import "global.css";

.navbar {
    background-color: var(--color-navbar);
    border-bottom: 1px solid var(--color-hover);
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 10;
}

.navbar-logo {
    color: var(--color-text);
    font-weight: var(--font-semibold);
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.navbar img {
    width: 30px;
    height: 30px;
}

.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;  
    font-size: 20px;
}

.navbar-link img {
    margin-right: 8px; 
}

.navbar-content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navbar-content i {
    color: var(--color-text);
    cursor: pointer;
    font-size: 20px;
}

.navbar-profile {
    border: 1px solid var(--color-hover);
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .navbar-link {
        font-size: 16px;
    }
}