/* /src/assets/css/sidebar.css */

@import "global.css";

.sidebar {
    background-color: var(--color-navbar);
    border-right: 1px solid var(--color-hover);
    width: var(--sidebar-width-expanded);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 60px 0;
    overflow-y: scroll;
    z-index: 9;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 60px 0;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-content {
    position: relative;
}

.sidebar-items {
    padding: 0;
    list-style: none;
}

.sidebar-icon {
    color: var(--color-text);
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}

.sidebar .sidebar-link {
    color: var(--color-text);
    display: flex;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar.collapsed .sidebar-link {
    justify-content: center;
    padding: 8px 16px;
}

.sidebar-link.active {
    background-color: var(--color-hover);
}

.sidebar-link:hover {
    background: var(--color-hover);
}

.bottom-content {
    position: fixed;
    bottom: 60px;
    width: var(--sidebar-width-expanded);
    cursor: pointer;
}

.bottom {
    color: var(--color-text);
    border-top: 1px solid var(--color-hover);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
}

.bottom:hover {
    background: var(--color-hover);
    border-bottom: 3px solid var(--color-hover);
}

.bottom i {
    font-size: 20px;
}

.sidebar.collapsed .bottom-content {
    width: var(--sidebar-width-collapsed);
}

.sidebar.collapsed .bottom span {
    display: none;
}

.sidebar.collapsed .sidebar-collapsed {
    display: none;
}

.sidebar:not(.collapsed) .sidebar-expanded {
    display: none;
}

.sidebar-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10;
    transform: translateY(-50%);
}