<nav class="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-items">
            <li class="item">
                <a href="/" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class="bx bx-home"></i>
                    </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>
            <li class="item">
                <a href="/devices" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class="bx bx-devices"></i>
                    </span>
                    <span class="sidebar-text">Devices</span>
                </a>
            </li>
            <li class="item">
                <a href="/reports" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class='bx bx-bar-chart-square'></i>
                    </span>
                    <span class="sidebar-text">Reports</span>
                </a>
            </li>
            <li class="item">
                <a href="/alerts" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class='bx bx-message-error'></i>
                    </span>
                    <span class="sidebar-text">Alerts</span>
                </a>
            </li>
            <li class="item">
                <a href="/logs" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class="bx bx-terminal"></i>
                    </span>
                    <span class="sidebar-text">Logs</span>
                </a>
            </li>
            <li class="item">
                <a href="/help" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class="bx bx-help-circle"></i>
                    </span>
                    <span class="sidebar-text">Documentation</span>
                </a>
            </li>
            <li class="item">
                <a href="/settings" class="sidebar-link">
                    <span class="sidebar-icon">
                        <i class="bx bx-cog"></i>
                    </span>
                    <span class="sidebar-text">Settings</span>
                </a>
            </li>
        </ul>
        <div class="bottom-content">
            <div class="bottom sidebar-expanded">
                <span></span>
                <i class='bx bx-arrow-to-right'></i>
            </div>
            <div class="bottom sidebar-collapsed">
                <span>Collapse</span>
                <i class='bx bx-arrow-to-left'></i>
            </div>
        </div>
    </div>
</nav>